<tr>
  <td class="align-middle">
    <div class="d-flex justify-content-between">
      <span><b><%= link_to topic.title, [@forum, topic] %></b></span>
    </div>
  </td>
  <td class="align-middle text-center">
    <span>
      <b><%= link_to topic.user.username, user_url(topic.user) %></b><br/>
      <%= topic.created_at.strftime("%a %b %d %Y, %I:%M%p") %>
    </span>
  </td>
  <td class="align-middle text-center"><span><%= topic.comments_count %></span></td>
  <td class="align-middle text-center"><span>0</span></td>
  <td class="align-middle text-center">
    <span>
      <%= link_to topic.user.username, user_url(topic.user) %><br/>
      <%= topic.created_at.strftime("%a %b %d %Y, %I:%M%p") %>
    </span>
  </td>
</tr>
