<div class="container mt-3">
  <%= form_with(model: [@topic, comment], local: true) do |form| %>
    <% if comment.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(comment.errors.count, "error") %>
          <%= t("prohibited_this_comment_from_being_saved") %>:</h4>
        <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :parent_comment_id, value: @parent_comment_id %>

    <div class="mb-3">
      <%= form.label :content, t("reply"), class: "form-label" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div>
      <%= form.submit t("submit"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
