<tr>
  <td>
    <%= link_to @forum.name, [@forum.category, @forum], class: "text-decoration-none" %>
    <br/>
    <span class="text-muted">
      <%= @forum.description %>
    </span>
  </td>
  <td class="text-center">
    <%= @forum.total_topics %>
  </td>
  <td class="text-center">
    <%= @forum.total_comments %>
  </td>
  <td class="text-center">
    <span class="text-muted">
      <% if @forum.topics.last && @forum.topics.last.comments.last %>
        <%= link_to(
          "#{@forum.topics.last.comments.last.user.username} #{time_ago_in_words(@forum.topics.last.comments.last.created_at)} ago",
          [@forum, @forum.topics.last],
          anchor: "comment-#{@forum.topics.last.comments.last.id}",
          class: "text-decoration-none"
        ) %>
      <% else %>
        <%= t("no_comments_yet") %>
      <% end %>
    </span>
  </td>
  <% if current_user&.admin? %>
    <td class="text-center">
      <div class="d-flex justify-content-center">
        <% if policy(@forum).edit? %>
          <%= link_to t("edit"), edit_forum_path(@forum), class: "btn btn-primary btn-sm me-2" %>
        <% end %>
        <% if policy(@forum).destroy? %>
          <%= button_to t("delete"), @forum, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: t("are_you_sure"), turbo_confirm: t("are_you_sure") } %>
        <% end %>
      </div>
    </td>
  <% end %>
</tr>
